@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");

body {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.NavBar {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: #f0f0f0;
}

#app {
  position: relative;
  height: 100vh;
  width: 100vw;
}


// Overall watchlist container which INCLUDES the search bar and watchlist
.watchlist-overallContainer {
  position: relative;
  width: 15%;
  left: 40%;
  top: 10%;
  // border: 10px solid green;
}

// Watchlist container which EXCLUDES the search bar. It only includes the actual watchlist section with the headers for the watchlist
.watchlist-xSearchbar-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: -15%;
  width: 100%;
  top: 180%;
  // border: 10px solid purple;
}

// Watchlist headers
.watchlist-headers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  #last-price-header{
   position: absolute;
   left: 50%;
  }
  #symbol-header {
    margin-left: 2%;
  }
}

// Actual watchlist with ticker symbols container (DOES NOT INCLUDE HEADERS). Wraps around all symbols in the listing.
.stock-list-container {
  display: flex;
  flex-direction: column;
  position: relative;
  color:white;
  background-color: teal;
  border: 5px solid red;
  height: fit-content;
  .stock-symbol-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    text-transform: uppercase;
    border: 2px solid white;
    a {
      width: 90%;
      color: white;
    h4 {
     display: inline;
    }
    #lastPrice {
      display: inline;
      position: absolute;
      margin-left: -25%;
    }
    }
    .symbol {
      margin-left: 2%;
    }
    .last-price {
      left: 75%;
    }
  }
}

body, html {
  height: 100%;
  width: 100%
}


.bg { // Must make sure the image is wrapped in the overall container in React or in HTML for it to work and might need to make the box that the div is in 100% height and 100% width
  background-image: url("https://i.imgur.com/jSXvuzP.jpg"); /* The image used */
  height: 100%; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}















