@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import url('https://fonts.googleapis.com/css2?family=Oi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asset&display=swap');  // Font for ATWS logo; Also need to make it italic down in CSS

body {
  position: relative;
  height: 100vh;
  width: 100vw;
}

body, html {
  height: 100%;
  width: 100%;
  overflow:visible
}

.NavBar {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: #f0f0f0;
  font-size: 1.5vh;
}

#app {
  position: relative;
  height: 100vh;
  width: 100vw;
}



//----------------------------------HOME PAGE--------------------------------------------------------------------
// HEADER CONTAINER THAT WRAPS WHOLE HEADER SECTION OF WEBSITE
.header-container {
  position: relative;
  width: 100vw;
  height: 40vh;
// WALL STREET SIGN IMAGE AT TOP OF HOME SCREEN
    #wall-street-sign {
      position: absolute;
      top:0%;
      width: 100%;
      height: 100%
    }
// WRAPS THE ENTIRE TITLE AND CLIP ARTS
  #title-image-container {
// TITLE OF WEBSITE
    #title { 
      display: inline-block;
      position: absolute;
      width: 33.33%;
      left: 33.34%;
      font-family: 'Anton', sans-serif;
      font-size: 2.5vw;
      color: rgb(0, 153, 153);
      animation-name: titleAnimation;
      animation-duration: 10s;
      animation-iteration-count: infinite;
    }
// TITLE OF WEBSITE ANIMATION
@keyframes titleAnimation {
  // 0% {transform: scale(.5)}
  50% {transform: rotatex(180deg)}
  100% {transform: rotatex(360deg)}
  }
  // WALL STREET BULL LOGO IN HEADER OF WEBSITE
    #bull-drawing {
      position: absolute;
      left: 33%;
      top: -2%;
      height: 15%;
      width: 5vw;
    }
// WALL STREET STOCK MARKET LOGO IN HEADER OF WEBSITE
    #stock-logo {
      position: absolute;
      right: 32%;
      top: -17%;
      height: 45%;
      width: 9vw;
    }
  }
}

// PRODUCTS OFFERED ON HOME PAGE SUCH AS CHARTS, CUSTOM WATCHLISTS, STOCK NEWS, FINANCIAL ADVICE, ONLINE TRADING TUTORIALS
.products-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 2%;
        #products-header {
          position: absolute;
          left: 5%;
          font-size: 1.5vw;
        }  
        .card {     // Card-Container; Each product offering on home page is a card
            left: 0%;
            margin-left: 1%;
            margin-top: 2.5%;
              .card-body {   // Body of the card which wraps the heading and the captions
                background-color: black;
                color: white;
                width: 25vw;  // Adjusts the size of the text surrounding the product image
                    .card-title{  // Card title
                      font-size: 25px;
                      text-align: center;
                      text-decoration: underline;
                    }
                    .card-text{    // <p> tag inside the card which explains what each product offering is
                      font-size: 15px;
                    }
                  }
        .card-img-top{    // Styling for actual image on each card
          background-color: gray;
          height: 25vh;
          width: 25vw;  // Adjusts the size of the actual image in the product offering section
            }
        }
    }

    // CONTAINER THAT WRAPS THE FEATURED ON SECTION OF THE HOME PAGE
    .featured-on-container{
        display: block;
        height: 19vh;
        margin-top: 1.5%;
            #featured-on-image{   // Image containing all the companies that featured in such as CNBC, Wall St Journal, etc.
              position: absolute;
              left: 35%;
              width: 30vw;
              height: 17.5vh;
            }
  }

  // FOOTER CONTAINER - WRAPS THE ENTIRE FOOTER SECTION OF HOME PAGE   
  .footer-container {
      position: relative;
      background-color: black;
      width: 100vw;
      height: 65vh;
      margin-top: 3vh;
      padding-top: 20vh;
      color: white;
          h1,h2,h3,h4,h5,h6 {
            font-size: 1vw;
            color: white;
          }
          #bottom-navbar {
            display: flex;
            justify-content: space-around;
            h4 {
              font-size: 1vw;
              margin-top: 1vh;
            }
            h1 {
              font-size: 1.4vw;
            }
          }
          .social-media-icons {
            position: absolute;
            right: 0vw;
            bottom: 0vh;
            font-size: .8vw;
          }
          .phone-icon {
            position: absolute;
            bottom: 0vh;
            width: 15vw;
              h2 {
                font-size: 1vw;
              }
          }
        }
      

//-------------------------------------------NAVIGATION BAR----------------------------------------------------------------

.navbar-container {
  background-color: #474e5d;
  color: white;
  height: 2vh;
  font-size: 1vw;
  list-style: none;
  display: flex;
  position: relative;
  right: 0vw;
    #bull-drawing {
      position: relative;
      top: -.5vh;
      width: 3vw;
      height: 4vh;
    }
    h1 {
      font-size: 1.5vw;
      display: inline-block;
      color: teal;
      font-family: 'Asset', cursive;
      font-size: 1.5vw;
      font-style: italic;

    }
    ul {
      position: absolute;
      right: 1vw;
      display: flex;
      justify-content: flex-end;
      list-style-type: none;
      margin-right: -1vw;
          :hover {
            // background-color: blue;
            text-decoration:  solid underline 3px;
            color: teal;
          }
          li, div {
              margin-right: 2vw;
                a {
                  color: white;
                }
            }
            #contact {
              position: relative;
              right: 2.5vw;
            }
    }
}
.dropdown {
  position: relative;
  // display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  text-decoration: none;
  // background-color: #f9f9f9;
  // // min-width: 160px;
  // // box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  // // padding: 12px 16px;
  // // z-index: 1;
}

.dropdown:hover {
  cursor: pointer;
  text-decoration: none;
}

.dropdown:hover .dropdown-content, .dropdown:hover .dropdown-content li{
  display: block;
  width: 100%;
  cursor: pointer;
  text-decoration: none;
  font-size: .6vw;
  padding-top: 2%;
  color: white;
}







//-------------------------------------------ABOUT PAGE---------------------------------------------------------------------

.column {
  // float: left;
  // width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0px 10px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
  :hover {
   transform: scale(1.145);
   cursor: pointer;
  }
}



.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
  h1 {
    font-size: 2.5vw;
  }
  p {
    font-size: .7vw;
  }
}

.container {
  padding: 0 16px;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor:pointer;
  width: 100%;
}

.button:hover {
  background-color: blue;
}

.about-pics {
  width: 15vw;
  height: 23vh;
}


@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}


// -------------------------------------WATCHLIST PAGE STYLING----------------------------------------------------------
#watchlist-wrapper{
  position: relative;
 
  .navbar-container {
    position: relative;
    height: 15vh;
  }
  .page-header-watchlist {
    position: relative;
    width: fit-content;
   
    top: -10vh;
    left: 38vw;
    color: white;
    h1 {
      font-size: 2.5vw;
      text-align: center;
    
    }
    p {
      font-size: .7vw;
    }
  }
 
}

#stock-market-scrollbar {
  position: absolute;
  top: 15vh;
  width: 100vw;
  height: 2vh;
}

#bull-logo {
  position: absolute;
  height: 4vh;
  width: 4vw;
  left: 36.5vw;
  top: 10vh;
}

.amazon-add {
  position: relative;
  top: 15vh;
  width: 20vw;
  height: -20vh;
  right: 20vw;
  img {
    position: relative;
    right: -95vw;
    height: 20vh;
    width: 15vw;
  }
}

#general-indices-chart {
  position: absolute;
  top: 30vh;
  width: 25vw;
  left: 8vw;
#st_6e331a4ef8a644eb807e5a76e42ef670 {
  position: relative;
  height: 39vh;
  width: 20vw;
}
}

.top-gainers-container {
  position: relative;
  left: 75vw;
  border: 5px solid teal;
  height: fit-content;
  width: fit-content;
      #top-gainer-header {
        text-align: center;
        background: teal;
        color: white;
        font-size: .8vw;
      }
}

tr, th, td {
  border: .5px solid lightgrey;
  font-size: .5vw;
  text-align: center;
  width: 5vw;
  padding-left: 10%;

}

// Input of ticker for watchlist
#stock-search-bar {
  position: relative;
  top: 5vh;
  margin-top: 2vh;
  font-size: .4vw;
}

    #symbol-input{
      position: relative;
      left: 15%;
      width: 25%;
        #symbol-search {
         width: 15vw;
         font-size: .6vw;
        }
  }

  .invalid-entry-message {
    position: relative;
    left: 21vw;
    margin-left: 1.8vw;
    font-size: 1vw;
    font-style: italic;
    color: red;
    visibility: visible;
  }

  .invalid-entry-hidden {
    position: relative;
    left: 22vw;
    font-size: 1vw;
    font-style: italic;
    visibility: hidden;
  }

// Overall watchlist container which INCLUDES the search bar and watchlist
.watchlist-overallContainer {
        position: relative;
        top: -82vh;  // ADJUST HERE TO MOVE WATCHLIST UP OR DOWN----> NEGATIVE NUMBER MOVES IT HIGHER UP
        width: 30%;
        height: fit-content;
        left: 37%;
        margin-top: 5vh;
  // Watchlist container which EXCLUDES the search bar. It only includes the actual watchlist section with the headers for the watchlist
  .watchlist-xSearchbar-container {
            display: flex;
            flex-direction: column;
            position: absolute;
            left: 0%;
            width: 100%;
            top: 12vh;
  // Watchlist headers
      .watchlist-headers {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        #last-price-header{
            position: absolute;
            left: 30%;
            color: black;
            font-size: .7vw;
        }
        #symbol-header {
            margin-left: 2%;
            color: black;
            font-size: .7vw;
        }
        #last-price-change {
          position: relative;
          left: -30%;
          color: black;
          font-size: .6vw;
        }
      }
    }

// Actual watchlist with ticker symbols container (DOES NOT INCLUDE HEADERS). Wraps around all symbols in the listing.

.stock-list-container {
  display: flex;
  flex-direction: column;
  position: relative;
  color:white;
  background-color: #8AAACB;
  border: 5px solid red;
  height: fit-content;
  .stock-symbol-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    text-transform: uppercase;
    border: 2px solid white;
    a {
      width: 90%;
      color: white;
    h4 {
     display: inline;
    }
    #lastPrice {
      display: inline;
      position: absolute;
      margin-left: -25%;
      
    }

    }
    .symbol {
      margin-left: 2%;
      font-size: .8vw;
     
    }
    .last-price {
      left: 55%;
      font-size: .7vw;
      font-style: oblique;
    }

    #price-change {  // Price change column on watchlist
      position: relative;
      left: 58%;
      display: inline;
      position: absolute;
      font-weight: 900;
      margin-right: 1.5vw;
      margin-left: 1.5vw;
      font-size: .7vw;
    }

    #trash-can {
      cursor: pointer;
     font-size: 1vw;
      
    
    }
  }
}
  }



  // -----------------------------STOCK NEWS PAGE FOR SINGLE STOCK (SHOW PAGE)  / STOCK SPECIFIC DATA PAGE ----------------------------------------
.stock-news-back-button {
  position: relative;
  top: -2.5vh;
  left: 1vw;
  margin-left: 2vw;
  width: fit-content;
  height: fit-content;
 

}

  #stock-news-container {
    position: relative;
    height: 100%;
    width: 100%;
    .navbar-container {
      height: 15vh;
    }
    #stock-specific-data-container {
      position: relative;
      height: 60vh;
      width: 100vw;
     

      // HEADER SECTION
        #stock-specific-company-heading {
          position: absolute;
          text-align: center;        
          height: 15vh;
          width: 100vw;
          

          
          #stock-specific-heading-price {
            position: absolute;
            right: 32vw;
            top: 6vh;
            display: flex;
            width: 15vw;
            justify-content: space-around;
            align-items: baseline;
             h3, h4 {
               font-size: .8vw;
               margin-left: 10%;
             }
          }
          // Company Name and Ticker Symbol at top of Stock Specific Data Page / Show Page
          span {
            margin-left: 10vw;
          }
          #stock-specific-heading-ticker {
            font-size: 1vw;
            font-style: oblique;
          }

          // COMPANY LOGO
            img {
              position: absolute;
              height: 10vh;
              width: 10vw;
              padding-right: 1.9vw;
              left: 45.5vw;
              
            }
        
          }
        // END OF HEADER SECTION OF PAGE

        // COMPANY PRICE AND OTHER METRIC SECTION
          #stock-specific-nonheading-section{
            position: absolute;
            top: 17vh;
            width: 100vw;
            height: 100vh;
            font-size: 1vw;
            display: flex;
            justify-content: space-around;
            border-top: 2.5px solid lightgray;
              #stock-specific-company-data {
                left: -10%;
              }
          }
    }

    #data-leftside-chart {
      position: absolute;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      // border: 2px solid green;
      width: 25%;
      left: 0%;
        #stock-specific-company-data{
          margin-left: 0%;
        }
        h2, h4 {
          margin-top: 13%;
          padding-top: 0%;
          font-size: .6vw;
          text-align: left;
          border-bottom: 1px solid lightgray;
        }
        h1 {
          font-size: 1vw;
          text-decoration: none;
        }
        span {
          margin-left: 0vw;  ///////////// DELETE THIS TO PUT EVERYTHING BACK TO NORMAL
          font-weight: 750;
          font-style: italic;
        }

        .more-spacing {
          position: relative;
          left: 3vw;
        }

        #last-price {
          position: relative;
          left: 4.6vw;
        }

        #percent-change {
          position: relative;
          left: 5vw;
        }

        #price-change {
          position: relative;
          left: 4.2vw;
        }
       
    }

    #data-rightside-chart {
      position: absolute;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      top: 1vh;
      // border: 2px solid red;
      width: 30%;
      right: 0%;
        h2, h4 {
          font-size: .6vw;
          margin-top: 3%;
          border-bottom: 1.8px solid lightgray;
          span {
            font-weight: 900;
            font-size: .6vw;
            // margin-left: 2vw;
          }
        }
    }

    #stock-specific-other-info {
      position: absolute;
      top: 25vh;
      right: 3vw;
        h4 {
      font-size: .7vw;
      border: 3px solid lightgray;
        }
        #company-description-header {
          position: relative;
          top: -15vh;
          font-size: 1vw;
          width: fit-content;
        }
        #company-description {
          position: relative;
          width: 22vw;
          height: 20vh;
          top: -15vh; // more negative the higher up it moves on screen
          font-size: .48vw;
        }
    }
#line-graph-container {
  position: relative;
  display: inline-block;
  height: 47vh;
  width: 47vw;
  left:26vw;
  top: -42vh;
  border: 1px solid black;
      #line-chart {
        position: absolute;
        height: 47vh;
        width: 45vw;
       
      }
    }
  }

  #company-data-header {
   width: fit-content;
  }

  #price-header {
    position: relative;
   left: 0vw;
   width: fit-content;
  }

  #volume-header {
    width: fit-content;
    font-size: 1vw;
  }

  #valuation-header {
    width: fit-content;
    font-size: 1vw;
  }

  #earnings-announcement-container {
    position: relative;
    left: 0vw;
    bottom: 4vh;
      margin-top: .5vh;
      #earnings-announcement {
        font-weight: 750;
      }
  }


// Stock Specific Articles
#stock-specific-articles-container {
  position: relative;
  left: 32.5vw;
  display: flex;
  flex-direction: column;
  top: -37%; // The more negative the higher up the stock articles move

  #stock-specific-articles-content {
    margin-bottom: 0%;
    
  }
  h6{
    color: lightgray;
    font-size: .4vw;
  }
  h3 {
    font-size: 1vw;
  }
  p {
    display: inline-block;
    position: relative;
    left: 1%;
    font-size: .6vw;
    text-align: justify;
    overflow-wrap: normal;
    width: 25vw;
    height: 25vh;
    padding-top: 3%;
    
  }
  img {
    width: 15vw;
    height: 20vh;
    float: left;
  }
}


@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .watchlist-overallContainer {
    top: -50vh;  // ADJUST HERE TO MOVE WATCHLIST UP OR DOWN----> NEGATIVE NUMBER MOVES IT HIGHER UP
    #stock-search-bar {
      position: relative;
      top: 8vh;
      margin-top: 2vh;
      font-size: .4vw;
    }
  }
}
 
// @media only screen and (max-width: 600px) {
//   .medium-size {
//     top: -50vh;  // ADJUST HERE TO MOVE WATCHLIST UP OR DOWN----> NEGATIVE NUMBER MOVES IT HIGHER UP
//   }
// }
 

  


 


















// .bg { // Must make sure the image is wrapped in the overall container in React or in HTML for it to work and might need to make the box that the div is in 100% height and 100% width
//   background-image: url("https://i.imgur.com/jSXvuzP.jpg"); /* The image used */
//   height: 100%; /* You must set a specified height */
//   background-position: center; /* Center the image */
//   background-repeat: no-repeat; /* Do not repeat the image */
//   background-size: cover; /* Resize the background image to cover the entire container */
// }

// @keyframes Bull {
  //   // 0% {transform: scale(.5)}
  //   5% {transform: scale(1.0); left: 5%; opacity: 1}
  //   10% {transform: scale(1.0); left: 10%; opacity: 1}
  //   15% {transform: scale(1.0); left: 15%; opacity: 1}
  //   20% {transform: scale(1.0); left: 20%; opacity: 1}
  //   25% {transform: scale(1.0); left: 25%; opacity: 1}
  //   30% {transform: scale(1.0); left: 30%; opacity: 1}
  //   35% {transform: scale(1.0); left: 35%; opacity: 1}
  //   40% {transform: scale(1.0); left: 40%; opacity: 1}
  //   45% {transform: scale(1.0); left: 40%; opacity: 1}
  //   50% {transform: scale(1.5); left: 40%; opacity: 1}
  //   60% {transform: scale(1.8); left: 40%; top: 5%; opacity: .8}
  //   70% {transform: scale(2.1); left: 40%; top: 15%; opacity: .6}
  //   80% {transform: scale(2.4); left: 40%; top: 20%; opacity: .4}
  //   90% {transform: scale(2.7); left: 40%; top: 25%; opacity: .2}
  //   100% {transform: scale(3.0); left: 40%; top: 33%; opacity: 0}
  //   }

